<template>
 <v-card>
    <v-toolbar color="primary" dark></v-toolbar>
    <v-card-text>
      <div class="text-h2 pa-12">Hello world!</div>
    </v-card-text>
    <v-card-actions class="justify-end">
      <v-btn>Close</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>

  export default {
    name: 'description',
  }
</script>
