<template>
  <v-container>
    <div class="container">
      <v-card
        class="card"
        v-for="(card, index) in cards"
        :key="index"
        @click.prevent="showDescriptionModal(card.id)"
      >
        <v-img v-if="card.imageUrl" :src="card.imageUrl" height="250px"></v-img>
        <v-img
          v-else
          src="https://safetyaustraliagroup.com.au/wp-content/uploads/2019/05/image-not-found.png"
          height="250px"
        ></v-img>

        <v-card-title>
          {{ card.name }}
        </v-card-title>
        
        <v-card-subtitle class="containerSubtitle"> {{ card.type }} </v-card-subtitle>
        
        <div class="container-btn">
        <button class="btn-description" @click="showDescriptionModal(card.id)">
          Descripción
        </button>
        </div>
      </v-card>
      <div>
        <v-row justify="center">
          <v-dialog max-width="600" v-model="showModal">
            <DescriptionModal
              v-if="showDescription"
              :id="id"
              @closeModal="closeModal"
            />
          </v-dialog>
        </v-row>
      </div>
    </div>
  </v-container>
</template>

<script>
import axios from "axios";
import DescriptionModal from "./DescriptionModal.vue";

export default {
  name: "cards",

  props: ['type'],

  data: () => ({
    cards: {},
    find: "",
    id: "",
    showDescription: false,
  }),

  components: {
    DescriptionModal,
  },

  computed: {
    showModal() {
      return this.showDescription;
    },
  },

  async created() {
    const { data } = await axios.get(
      "https://api.magicthegathering.io/v1/cards"
    );
    this.cards = data.cards;
  },

  methods: {
    showDescriptionModal(id) {
      this.id = id;
      this.showDescription = true;
    },
    closeModal() {
      this.showModal = false;
      this.showDescription = false;
    },
    async findTypeOfCard(){
      const { data } = await axios.get("https://api.magicthegathering.io/v1/cards?type="+ this.type + "")
      this.cards = data.cards
    }
  },
};
</script>
<style scoped>
.card {
  display: inline-block;
  width: 310px;
  height: 400px;
  margin: 2%;
}
.container {
  text-align: center;
}
.btn-description {
  width: 50%;
  border-radius: 10px;
  height: 28px;
  background: #3434ff;
  color: #ffffff;
}
.container-btn {
  text-align: start;
  padding-left: 5%;
}
.containerSubtitle {
  text-align: start;
  padding-left: 5%;
}
</style>