<template>
  <v-card>
    <v-toolbar color="primary">
      <v-text class="toolbar">{{ card.name }}</v-text>
      <button class="material-icons" @click.prevent="closeModal">
        highlight_off
      </button>
    </v-toolbar>
    <v-card-text class="card">
      <v-img class="image" :src="card.imageUrl"></v-img>
      <div class="textCard">
        <div class="textDescription justify">Descripción: {{ card.text }}</div>
        <div class="textDescription justify">Poder: {{ card.power }}</div>
        <div class="textDescription justify">Coste de mana: {{ card.manaCost }}</div>
      </div>
    </v-card-text>
  </v-card>
</template>
<script>
import axios from "axios";

export default {
  props: ["id"],

  data: () => ({
    card: null,
  }),

  async created() {
    const { data } = await axios.get(
      "https://api.magicthegathering.io/v1/cards/" + this.id + ""
    );
    this.card = data.card;
  },

  methods: {
    closeModal() {
      this.$emit("closeModal");
      console.log("closeModal");
    },
  },
};
</script>
<style scoped>
.card {
  display: grid;
  grid-template-areas: "image text";
  padding-top: 20px !important;
}
.toolbar {
  text-align: center;
  color: #ffffff;
  position: absolute;
  font-size: 30px;
}
.material-icons {
  justify-content: right;
  width: 80px;
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  right: 0px;
}
.image {
  grid-area: "image";
  width: 100%;
  height: 100%;
}
.textCard {
  grid-area: "text";
}
.textDescription {
  color: #000000;
  padding-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 20px;
}
</style>