<template>
  <v-app class="main">
    <v-app-bar app class="navbar">
      <div class="d-flex align-center">
        <v-img
          class="logo"
          src="https://media-exp1.licdn.com/dms/image/C4E0BAQFZT0DuoIKzyQ/company-logo_200_200/0/1559834843573?e=2159024400&v=beta&t=30hZ63W3fXiuK7B3ebBL9JeVpD1nCulXPD_Jn_AlGNM"
        />

        <span class="bootcamp">BOOTCAMP</span>
      </div>

      <v-spacer></v-spacer>

      <span class="spanBeigin">Inicio</span>
      <span class="spanCourses">Cursos</span>
      <v-icon>account_circle</v-icon>
    </v-app-bar>
    <div class="text">
      <h1 class="title-text">Cartas Magic</h1>
      <p class="description-text">
        Magic es el primer ejemplo de juego de cartas coleccionables moderno,
        con más de seis millones de jugadores en cincuenta y dos países
        diferentes. Magic puede ser jugado por dos o más jugadores, cada uno de
        ellos usando un mazo individual. También existen varias versiones
        digitales que pueden jugarse en línea, en videoconsola o PC
      </p>
    </div>
    <div class="second">
      <v-card class="filters">
        <v-text class="find-text"> Filtrar por:</v-text>
        <v-select
          v-model="type"
          class="find-select"
          :items="types"
          label="Tipo de carta"
        ></v-select>
        <v-btn class="find-btn" @click="findType">
          Buscar <span class="material-icons"> arrow_forward </span>
        </v-btn>
      </v-card>
      <v-main class="cards">
        <Cards :type="type" ref="CardsComponent" />
      </v-main>
    </div>
  </v-app>
</template>
<script>
import Cards from "./components/Cards.vue";
import axios from "axios";

export default {
  name: "App",

  props: ["type"],

  data: () => ({
    types: [],
    type: "",
  }),

  async created() {
    const { data } = await axios.get(
      "https://api.magicthegathering.io/v1/types"
    );
    this.types = Object.values(data.types);
  },

  components: {
    Cards,
  },

  methods: {
    findType() {
      this.$refs.CardsComponent.findTypeOfCard();
      console.log(this.type);
    },
  },
};
</script>
<style scoped>
.second {
  background: #edf2f7;
}
.navbar {
  color: #ffffff;
}
.logo {
  width: 100px;
  height: 55px;
}
.bootcamp {
  color: #505050;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 6px;
}
.spanBeigin {
  color: #505050;
  padding: 20px;
}
.spanCourses {
  color: #3434ff;
  padding: 20px;
}
.search {
  width: 80%;
  padding-top: 70px;
  padding-left: 100px;
  justify-content: center;
  align-items: center;
}
.text {
  padding-top: 151px;
}
.filters {
  position: relative;
  top: -40px;
  background-color: #3434ff;
  display: grid;
  grid-template-areas: "textFind inputFind btnFind";
  width: 80%;
  height: 100px;
  left: 10%;
}
.find-text {
  grid-area: "textFind";
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
}
.find-select {
  padding-top: 25px;
  color: #ffffff;
  grid-area: "inputFind";
}
.find-btn {
  grid-area: "btnFind";
  background: #3434ff !important;
  color: #ffffff !important;
  width: 40%;
  border: 1px solid #ffffff;
  border-radius: 13px;
  left: 30.99%;
  right: 3.6%;
  top: 30.48%;
  bottom: 27.62%;
}
.title-text {
  font-family: Helvetica, sans-serif;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  padding-bottom: 30px;
}
.description-text {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #000000;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
}
</style>